	

		p{
				text-align: left;
				font-size: 18px;
				color: blue;
				font-style: italic;
				border-top-style: solid;
				border-bottom-style: solid;
				border-color: blue;
				/*comentarios*/

		}

				h1 {
				text-align: left;
				font-size: 30px;
				color: darkblue;
				text-align: center;
		}

	
